*{
    margin: 0px;
    padding: 0px;
    justify-content: center;
    text-align: center;
}

h1{
    background-color: #0d1b2a;
    color: #ffffff;
    height: 80px;
    font-size: 55px;
    line-height: 80px;
}
body{
    background-color: #e0e1dd;
}
img{
   height: 155px;
   width: 155px;
   border-radius: 50%;
   object-fit: cover;    /*copied*/
   border: 9px solid;
   border-color:#e0e1dd;
}
img:hover{
    cursor: pointer;
    border-color: #415a77;
}
.choices{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    padding: 30px;
}
.scoreboard{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px;
}
#ys{
    padding: 15px;
    font-size: 30px;
}
#cs{
    padding: 15px;
    font-size: 30px;
}
.result{
    
    height: 30px;
    line-height: 30px;
    margin: 16px;
    font-size: 25px;
    

}
#result-text{
    display: inline; /*copied*/
    background-color: #415a77;
    border-radius: 6px;
    padding: 4px;
    color: azure;
}